In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('spam_ham_dataset.csv')

In [5]:
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [7]:
df['label']=df.label.map({'ham':0,'spam':1})
df.head()

,Unnamed: 0,label,text,label_num
0,605,0,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,0,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,0,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,1,"Subject: photoshop , windows , office . cheap ...",1
4,2030,0,Subject: re : indian springs\r\nthis deal is t...,0

In [9]:
df.shape

(5171, 4)

In [14]:
#converting to lower case
documents=['Hello, how are you', 'win money, win from home', 'call me now', 'Hello, call hello you tomorrow?']
lower_doc=[]
for i in documents:
    lower_doc.append(i.lower())
print('after lower case',lower_doc)

after lower case ['hello, how are you', 'win money, win from home', 'call me now', 'hello, call hello you tomorrow?']

In [15]:
#remove puncuations
import string
punc_doc=[]
for i in lower_doc:
    trans=str.maketrans('','',string.punctuation)
    punc_doc.append(i.translate(trans))
print('after removing punctuations',punc_doc)

after removing punctuations ['hello how are you', 'win money win from home', 'call me now', 'hello call hello you tomorrow']

In [17]:
prepro_doc=[]
for i in punc_doc:
    prepro_doc.append(i.split(' '))
print('after tokenizing',prepro_doc)

after tokenizing [['hello', 'how', 'are', 'you'], ['win', 'money', 'win', 'from', 'home'], ['call', 'me', 'now'], ['hello', 'call', 'hello', 'you', 'tomorrow']]

In [19]:
freq_list=[]
import pprint
from collections import Counter
for i in prepro_doc:
    freq=Counter(i)
    freq_list.append(freq)
pprint.pprint(freq_list)

[Counter({'hello': 1, 'how': 1, 'are': 1, 'you': 1}),
 Counter({'win': 2, 'money': 1, 'from': 1, 'home': 1}),
 Counter({'call': 1, 'me': 1, 'now': 1}),
 Counter({'hello': 2, 'call': 1, 'you': 1, 'tomorrow': 1})]

In [21]:
#create bag of words model using sklearn
from sklearn.feature_extraction.text import CountVectorizer
c_v=CountVectorizer()
print(c_v)
c_v.fit(documents)
c_v.get_feature_names()

CountVectorizer()

['are',
 'call',
 'from',
 'hello',
 'home',
 'how',
 'me',
 'money',
 'now',
 'tomorrow',
 'win',
 'you']

In [22]:
doc_array=c_v.transform(documents).toarray()
print('doc array:\n',doc_array)

doc array:
 [[1 0 0 1 0 1 0 0 0 0 0 1]
 [0 0 1 0 1 0 0 1 0 0 2 0]
 [0 1 0 0 0 0 1 0 1 0 0 0]
 [0 1 0 2 0 0 0 0 0 1 0 1]]

In [23]:
freq_mat=pd.DataFrame(doc_array,columns=c_v.get_feature_names())
print(freq_mat)

   are  call  from  hello  home  how  me  money  now  tomorrow  win  you
0    1     0     0      1     0    1   0      0    0         0    0    1
1    0     0     1      0     1    0   0      1    0         0    2    0
2    0     1     0      0     0    0   1      0    1         0    0    0
3    0     1     0      2     0    0   0      0    0         1    0    1

In [25]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df['text'],df['label'],random_state=1)
print('no. of rows in total: {}'.format(df.shape[0]))
print('no. of rows in train: {}'.format(x_train.shape[0]))
print('no. of rows in test: {}'.format(x_test.shape[0]))

no. of rows in total: 5171
no. of rows in train: 3878
no. of rows in test: 1293

In [28]:
c_v=CountVectorizer()
training_data=c_v.fit_transform(x_train)
testing_data=c_v.transform(x_test)

In [29]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes=MultinomialNB()
naive_bayes.fit(training_data,y_train)

MultinomialNB()

In [31]:
pred=naive_bayes.predict(testing_data)

In [34]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
print('accuracy: {}'.format(accuracy_score(y_test,pred)))
print('precision: {}'.format(precision_score(y_test,pred)))
print('recall: {}'.format(recall_score(y_test,pred)))
print('f1: {}'.format(f1_score(y_test,pred)))

accuracy: 0.982985305491106
precision: 0.9709762532981531
recall: 0.9709762532981531
f1: 0.9709762532981531